@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #111111;
  margin: 0px;
}

.intro h1 {
  color: #36e2b2;
}

.intro p {
  color: #adaab2;
}

#p-white {
  color: #fff;
}

.intro-container {
  background-color: #111111;
}

.intro {
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  display: flex;
  align-items: center;
}

#hand {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  animation-name: hand-wave;
  animation-duration: 3s;
  animation-iteration-count: 1;
  transform-origin: 70% 70%;
}

@keyframes hand-wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.icon-links {
  display: flex;
}

#link-icon {
  margin-right: 20px;
  width: 35px;
}

#line {
  margin-top: 3vh;
  width: 80px;
  height: 1px;
  opacity: 0.1;
  background-color: #fff;
}

#line-long {
  margin-top: 3vh;
  width: 30vw;
  height: 1px;
  opacity: 0.1;
  background-color: #fff;
}

.button-container {
  width: 160px;
  height: 45px;
}
.button {
  background-color: #1877f2;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  text-align: center;
  transition: 0.5s;
}

.button:hover {
  background-color: #0a56e7;
}

.intro a {
  text-decoration: none;
}

#button-text {
  color: #fff;
  padding: 5px;
}

.projects-container {
  background-color: #111111;
  margin-bottom: 50px;
}

.projects {
  display: flex;
  margin-left: 10vw;
  margin-right: 10vw;
  flex-direction: column;
  justify-content: center;
}

.projects h1 {
  color: #fff;
}

.projects p {
  color: #fff;
}

.project-item {
  width: 30vw;
}

.projects a {
  color: #36e2b2;
}

#small-text {
  font-size: small;
  color: #adaab2;
}

#heading-text {
  font-size: larger;
  color: #36e2b2;
}

@media screen and (min-width: 900px) {
  .intro {
    width: 35vw;
    height: 80vh;
  }
  .project-item {
    width: 80vw;
  }
}

@media screen and (max-width: 800px) {
  .intro {
    width: 80vw;
  }
  .project-item {
    width: 80vw;
  }
}

@media screen and (max-width: 900px) {
  .intro {
    width: 65vw;
  }
  .project-item {
    width: 80vw;
  }
}

@media screen and (max-width: 600px) {
  .intro {
    width: 80vw;
    height: 100vh;
  }
  .project-item {
    width: 80vw;
  }
}

@media screen and (max-width: 400px) {
  .intro {
    width: 80vw;
    height: 100vh;
  }
  .project-item {
    width: 80vw;
  }
}
